upstream test {
	{% for data in upstream %}
	server {{ upstream[data]["server"] }};
	{% endfor %}
	server {{ ansible_default_ipv4["address"] }}:8005;
}
#server {
#	location / {
#		proxy_pass http://test;
#	}
#}
